body {
    font-family: "Amiri", "Scheherazade New", "Noto Naskh Arabic", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.content {
            direction: ltr; /* По подразбиране за английски */
            text-align: left;
        }

.arabic {
            direction: rtl;
            text-align: right;
        }
